.review-item img {
    max-width: 50px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.container_slider {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.card-slider {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 10px;
    gap: 30px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.card-slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.label-container {
    display: flex;
    align-items: center;
}

.label-container {
    display: flex;
    align-items: center;
}

.label-container h2 {
    color: #111;
    font-family: Poppins, serif;
    margin-right: auto;
    font-weight: 600;
}

.label-container .bi {
    font-size: 18px;
}

.label-container button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #111;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    margin-left: 5px;
}

.label-container button:disabled {
    background-color: whitesmoke;
    cursor: not-allowed;
    border: none;
}

.restaurant-card {
    transition: transform 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    background: transparent;
}

.restaurant-card:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 350px;
    height: 240px;
    display: block;
    border-radius: 20px;
    object-fit: cover;
    image-rendering: pixelated;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.discount-badge {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 10px;
    padding: 5px;
    z-index: 2;
    font-weight: bold;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.restaurant-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.rating {
    display: flex;
    align-items: start;
    margin-top: 5px;
    font-weight: semi-bold;
}

.review-count {
    margin-left: 5px;
    font-weight: semi-bold;
}

.delivery-info {
    display: flex;
    font-size: 16px;
    align-items: center;
}

.bi-star-fill {
    color: green;
}

.bi-dot {
    font-size: 26px;
}

.iconheart {
    font-size: 25px;
}

.iconheart.icon-heart {
    color: #ff4545;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .container_slider {
        max-width: 350px;
        margin: auto;
        padding: 10px;
    }

    /* Card Slider */
    .label-container h2 {
        color: #111;
        font-family: Poppins, serif;
        margin-right: auto;
        font-size: 18px;
        font-weight: bold;
    }

    .label-container i {
        font-size: 14px;
    }

    /* Card Slider */
    /* Restaurant Card */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 10px;
        margin-top: 10px;
    }

    .image-container img {
        width: 180px;
        height: 140px;
        display: block;
        border-radius: 20px;
        object-fit: cover;
        image-rendering: pixelated;
    }

    .image-container::after {
        content: "";
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0 0 20px 20px;
        bottom: 0;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.8) 100%
        );
    }

    .discount-badge {
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 10px;
        padding: 5px;
        z-index: 2;
        font-weight: bold;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
    }

    .restaurant-name {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

    .info-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
    }

    .rating {
        display: flex;
        align-items: start;
        margin-top: 3px;
        font-weight: semi-bold;
    }

    .review-count {
        margin-left: 3px;
        font-weight: semi-bold;
    }

    p {
        font-size: 10px;
    }

    .delivery-info {
        display: flex;
        font-size: 10px;
        align-items: center;
    }

    .bi-dot {
        font-size: 16px;
    }

    /* Restaurant Card */
}

#imgMarketing {
    object-fit: cover;
    width: 100%;
    height: auto;
}


@media (min-width: 576px) {
    .container_slider {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container_slider {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container_slider {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container_slider {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container_slider {
        max-width: 1320px;
    }
}